<h1>hello#index</h1>

<div>Jets: <%= image_pack_tag("media/images/jets.png") %></div>
<div>Eric: <%= image_pack_tag("media/southpark/eric.png") %></div>
<div>Stan: <%= image_pack_tag("media/southpark/stan.png") %></div>
